img {
  border-radius: 50%;
}

.lang-switch {
  position: absolute;
  top: 16px;
  right: 16px;
}

.lang-switch a {
  padding: 6px 12px;
  background-color: #5c009f; /* 브랜드 컬러 */
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s;
}

.lang-switch a:hover {
  background-color: #7a33c9;
}
